body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    box-sizing: border-box;
}

h1 {
    text-align: center;
    margin-top: 50px;
    color: #333;
}

.feedbackForm {
    position: relative;
    max-width: 600px;
    margin: 60px auto;
    padding: 40px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    z-index: 999;
}

label {
    display: block;
    margin-bottom: 10px;
    color: #333;
}

input[type="text"],
input[type="number"],
textarea,
select {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

.checkbox-label {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    color: #333;
}

.checkbox-label input {
    margin-right: 5px;
}

.radio-label {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 15px;
    color: #333;
}

.radio-label input {
    margin-right: 5px;
}

select {
    width: calc(100% - 22px);
}

textarea {
    resize: vertical;
}

.but {
    display: flex;
    justify-content: space-between;
}

button {
    padding: 10px 20px;
    background-color: rgb(202, 4, 4);
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: rgb(155, 2, 2);
}

#mandela{
    position: absolute;
    width: 100%;
    height: 100vh;
    object-fit: contain;
    z-index: 1;
    top: 110px;
}
.rotate {
    animation: rotation 25s infinite linear;
}
@keyframes rotation {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(359deg);
    }
}

#smallMandela{
    position: absolute;
    width: 350px;
    object-fit: contain;
    left: 210px;
    top: -20px;
}

#smallMandela2{
    position: absolute;
    width: 350px;
    object-fit: contain;
    top: 637px;
    left: 880px;
}
